
.background-aedes{background-color:#003855 !important;}
.background-grey{background-color:#d5d9e2 !important;}

.text-blue{color:#003855 !important;}
.text-green{color:#47aa42 !important;}

.color .tabs-navigation li.active_blue a{color:rgb(255, 255, 255);background:#003855;}
.color .tabs-navigation li.active_blue a::after{background:none;}

#header{position:relative;background-color:#fff;border-bottom:1px solid white;z-index:199 !important;}

section{padding:0px 0;position:relative;z-index:auto;width:100%;overflow:hidden;}

#header {
	margin-top:10px;
	margin-bottom:30px;
}