$ git status
[...]
# Untracked files:
[...]
#       Documentation/foo.html
#       Documentation/gitignore.html
#       file.o
#       lib.a
#       src/internal.o
[...]
$ cat .git/info/exclude
# ignore objects and archives, anywhere in the tree.
*.[oa]
$ cat Documentation/.gitignore
# ignore connexion.php files that contain information to connect to db
*connexion.php
*.mp4
*.log
factures/
langcache/
offres/
images_bikes/
images/
include/logs.txt
$ git status
[...]
# Untracked files:
[...]
#       Documentation/foo.html
[...]
test.pdf
html2pdfTest.php
html2pdfTestContent.php
include/api_keys.php
include/environment.php
apis/Kameo/environment.php
robots.txt
sitemap.xml