$ git status
[...]
# Untracked files:
[...]
#       Documentation/foo.html
#       Documentation/gitignore.html
#       file.o
#       lib.a
#       src/internal.o
[...]
$ cat .git/info/exclude
# ignore objects and archives, anywhere in the tree.
*.[oa]
$ cat Documentation/.gitignore
# ignore connexion.php files that contain information to connect to db
*connexion.php
*.jpg
*.mp4
*.log
factures/
langcache/
offres/
images_bikes/
images_accessories/
include/logs.txt
robots.txt
$ git status
[...]
# Untracked files:
[...]
#       Documentation/foo.html
[...]
test.pdf
html2pdfTest.php
html2pdfTestContent.php
include/api_keys.php
include/environment.php
apis/Kameo/environment.php
robots.txt
sitemap.xml
.DS_Store
vendor/.DS_Store
sql_clean_up_queries.sql
apis/Kameo/update_client_logs.txt
apis/Kameo/update_client_logs.txt
apis/Kameo/update_client_logs.txt
apis/Kameo/update_client_logs.txt
apis/Kameo/update_client_logs.txt
