Options -Indexes
#ErrorDocument 404 https://www.kameobikes.com/404.php
#ErrorDocument 403 https://www.kameobikes.com/403.php

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . /index.php [L]